.countdownDashboard {
    
    margin-right: 0;
    margin-left: 0;
    
    .countdownDashboardRoom {

        margin: 25px 0;

        h1 {
            margin-bottom: 15px;
            padding: 5px 25px;
            margin-top: 0;
            background: rgba(0, 133, 255, 0.36);
            
        }
        
        @media (max-width: 768px) {
            h1 {
                font-size: 26px;
                padding: 5px;
            }
        }
    }
    
    .countdownWrapper {
        
        margin-top: 0;
        
        .countdownName {
            margin-left: -25px;
            margin-right: -25px;
            margin-top: -25px;
            
            a {
                color: #fff;
                text-decoration: none;
                
                &:hover,
                &:focus,
                &:active {
                    color: #fff;
                    text-decoration: none;
                }
            }
        }

        .countdownCurrentStateWrapper {
            .countdownCurrentState {
                font-size: 80px;
                bottom: 190px;
            }
        }

        .countdownDuration {
            font-size: 30px;
        }
    }
}

.btnAdmin {
    float: right;
    margin: 10px;
}
