<button class="btn btn-default btnAdmin" ng-click="askPassword('config')">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    Neuer Countdown
</button>
<h1>
    Willkommen im Countdown Manager
</h1>

<h3>
    Du befindest dich auf dem Dashboard
</h3>

<p>
    Hier hast du die Übersicht über alle aktiven Countdowns. Über das Menü am oberen Bildschirmrand kannst du deinen Countdown auswählen.
</p>

<div class="row countdownDashboard">

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" ng-repeat="countdown in countdowns">

        <div class="row margin-bottom-lg">
            <div class="col-xs-12">
                <div class="countdownWrapper text-center">
                    <div class="countdownName">
                        <a ng-href="#!/countdown/{{countdown.id}}">
                            {{countdown.name}}
                        </a>
                    </div>
                    <div class="countdownCurrentStateWrapper">
                        <round-progress
                        max="countdown.duration"
                        current="countdown.currentState"
                        color="#04caff"
                        bgcolor="#252525"
                        radius="100"
                        stroke="10"
                        semi="true"
                        rounded="true"
                        clockwise="true"
                        responsive="true"
                        duration="800"
                        animation="easeInOutQuart"
                        animation-delay="0">
                    </round-progress>

                    <div class="countdownCurrentState" ng-class="countdown.currentState < countdown.dangerTimeLeft ? 'danger' : 'ok'">
                        {{countdown.currentState}}
                    </div>

                    </div>
                    <div class="countdownDuration">
                        Countdown Dauer:<br>
                        {{countdown.duration}} Minuten
                    </div>
                    <div class="text-right">
                        <button class="btn btn-danger" ng-click="askPassword('delete', countdown.id)">
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="modal fade" id="passwordModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Passwort erforderlich</h4>
            </div>
            <div class="modal-body">
                <div class="form-group" ng-class="passwordWrong ? 'has-error has-feedback' : ''">
                    <label class="control-label" for="password">Passwort</label>
                    <div>
                        <input ng-model="password" ng-change="passwordWrong=''" type="password" class="form-control" id="password" name="password" placeholder="Passwort">
                        <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="doRestrictedAction(askPasswordType, password, askPasswordCountdownId)">Absenden</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="configModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Countdown Config</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label class="control-label" for="countdownName">Name</label>
                            <input ng-model="configCountdown.name" type="text" class="form-control" name="countdownName" placeholder="Countdown Name">
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label class="control-label" for="countdownRoom">Raum</label>
                            <input ng-model="configCountdown.room" type="text" class="form-control" name="countdownRoom" placeholder="Countdown Raum">
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label class="control-label" for="countdownDuration">Dauer in Minuten</label>
                            <input ng-model="configCountdown.duration" type="text" class="form-control" name="countdownDuration" placeholder="Countdown Dauer">
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label class="control-label" for="countdownDangerTimeLeft">Warnen bei {{configCountdown.dangerTimeLeft}} Minuten verbleibend</label>
                            <input ng-model="configCountdown.dangerTimeLeft" type="text" class="form-control" name="countdownDangerTimeLeft" placeholder="Countdown Warnen bei">
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label class="control-label" for="countdownSayTime">Zeitansage bei: Komma separierte Angabe von Minuten</label>
                            <input ng-model="configCountdown.sayTime" ng-value="configCountdown.sayTime.toString()" type="text" class="form-control" name="countdownSayTime" placeholder="Countdown Zeitansage bei">
                        </div>
                    </div>
                </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal" aria-label="Close">Schließen</button>
                <button type="button" class="btn btn-success" ng-click="save(configCountdown)">Speichern</button>
            </div>
        </div>
    </div>
</div>
