<h1>Countdowns</h1>
<div class="row margin-bottom-lg">
    <div ng-repeat="countdown in countdowns" class="col-xs-12 col-md-6 col-lg-4">
        <div class="countdownWrapper">
            <div class="countdownControls">
                <button class="btn btn-success" ng-click="startCountdown(countdown.id)">
                    Start
                </button>
                <button class="btn btn-primary" ng-click="pauseCountdown(countdown.id)">
                    Pause
                </button>
                <button class="btn btn-danger" ng-click="resetCountdown(countdown.id)">
                    Reset
                </button>
            </div>
            <div class="countdownName">
                {{countdown.name}}
            </div>
            <div class="countdownCurrentState">
                {{countdown.currentState}}
            </div>
            <div class="countdownDuration">
                {{countdown.duration}}
            </div>
        </div>
    </div>
</div>
